In [1]:
import pandas as pd
import numpy as np

In [2]:
class MultipleLinearRegression:
    def __init__(self):
        self.coefficients = None
        #constructor to the class which set coefficients to none
    def fit(self, X, y):
        # Add a column of ones to the design matrix X
        X_design = [[1] + row for row in X] #adding ones column to calculate b0 value
        n = 0
        for _ in X[0]:
           n += 1


        m = 0
        for row in  y:
         m += 1   
        #n = len(X_design[0])#finding the no.of columns
        #m = len(y)#finding no.of rows of dependent variable
        
        # Initialize the normal equations matrix A and the right-hand side vector b
        A = [[0] * n for i in range(n)]#an empty array with shape as n*n(2D)
        b = [0] * n #1D array
        
        # Fill in the elements of A and b
        for i in range(n):
            for j in range(n):
                for k in range(m):
                    A[i][j] += X_design[k][i] * X_design[k][j]
            for k in range(m):
                b[i] += X_design[k][i] * y[k]
        
        # Solve the system of linear equations Ax = b using Gaussian elimination
        for i in range(n):
            for j in range(i + 1, n):
                factor = A[j][i] / A[i][i]
                for k in range(i + 1, n):
                    A[j][k] -= factor * A[i][k]
                b[j] -= factor * b[i]
                
        self.coefficients = [0] * n
        for i in range(n - 1, -1, -1):
            for j in range(i + 1, n):
                b[i] -= A[i][j] * self.coefficients[j]
            self.coefficients[i] = b[i] / A[i][i]

    def predict(self, X):
        # Add a column of ones to the design matrix X
        #X_design = [[1] + row for row in X]
        #y_pred = [sum([X_design[i][j] * self.coefficients[j] for j in range(len(self.coefficients))]) for i in range(len(X_design))]
        X_design = [[1] + row for row in X]
        n_rows = 0
        for row in X_design:
          n_rows += 1

        n_cols = 0
        for col in self.coefficients:
          n_cols += 1  

        y_pred = [0] * n_rows
        for i in range(n_rows):
          y_pred[i] = 0
          for j in range(n_cols):
            y_pred[i] += X_design[i][j] * self.coefficients[j]
  

        return y_pred

In [3]:
df=pd.read_csv("/content/kc_house_data.csv")

y = df[["price"]]
x =df.drop(["price","date","id"],axis=1)

In [4]:
x

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [5]:
ratio = 0.80
 
total_rows = df.shape[0]
train_size = int(total_rows*ratio)
 
# Split data into test and train
x_train =(x[0:train_size].values)

y_train=(y[0:train_size].values)
x_test =(x[train_size:].values)

y_test =(y[train_size:].values)

In [6]:
mlr = MultipleLinearRegression()

# Fit the model to the data
mlr.fit(x_train, y_train)

# Make predictions on the test data
y_pred = mlr.predict(x_test)

In [7]:
x_train.dtype

dtype('float64')

In [8]:
# Calculate the sum of squared residuals
residuals = y_pred - y_test
ss_residuals = np.sum(residuals**2)

# Calculate the total sum of squares
mean_y = np.mean(y_test)
ss_total = np.sum((y_test - mean_y)**2)

# Calculate R^2
R2 = 1 - (ss_residuals / ss_total)
print(R2)

0.6852212665453042